  <div class="row mt-5">
    <div class="col">
      <table class="table mt-5 ">
        <thead>
          <tr>
            <th scope="col">＃</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">概要</th>
          </tr>
        </thead>

        <tbody>
        <% if @customers.empty? %>
          <th>フォローしているユーザーはいません</th>
          <% else %>
            <% @customers.each do |customer| %>
            <!--% @customers.where.not(id: current_customer.id).each do |customer| %>-->
            <tr>
              <td scope="row">
                  <%= image_tag customer.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
              </td>
              <td><%= customer.user_name %></td>
              <td><%= user.user_content.truncate(20, omission: '...') %></td>
              % end %>
            </tr>
         <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>